body {
  background-color: rgb(202, 69, 32);
}


h2 {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

/*https://material.angular.io/components/sidenav/overview*/
.button {
  border: none;
  padding: 0.625em;
  border-radius: 0.5em;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  transform: translateY(2px);
}

.chat-container {
  background: #030825;
  font-family: Roboto, sans-serif;
  border-radius: 0;
  align-content: center;
  padding: 0.5em 1.25em;
  margin: auto;
  max-width: 90em;
  height: 94.5vh; /*#37.5em*/
  /* box-shadow: 0 0 0.5em 0.1em #c3c3c333; */
}

.chat-messages {
  height: 75vh;
  width: 45%;
  align-content: center;
  margin: 0.625em auto;
  /* margin-left: 330px; */
  overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.blue-bg {
  background-color: #1c9bef;
}

.userMessage-bg {
  background-color: #1c9bef;
  /* background-color: #fa6416; */
  /* background-color: #22884c; */
}

.otherUserMessage-bg {
  background-color: #3d5365;
}

.chat-input-form {
  display: flex;
  align-items: center;
  margin-top: 2em;
  gap: 0.625em;
}

.chat-input {
  padding: 0.625em;
  margin-top: 25px;
  border: none;
  border-radius: 0.5em;
  background-color: #fcfcfc;
  color: #333;
  font-size: 1em;
  flex-grow: 1;
}

.send-button {
  background-color: #1c9bef;
  color: white;
  margin-top: 25px;
  font-size: 1em;
  font-weight: bold;
}

.message {
  padding: 0.625em;
  border-radius: 1em;
  margin-bottom: 0.625em;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 0.31em;
}

.message-text {
  font-size: 1em;
  margin-bottom: 0.31em;
  word-wrap: break-word;
}

.message-timestamp {
  font-size: 0.75em;
  text-align: right;
}

