<!--<app-nav [user]="user"></app-nav>-->

<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <app-menu></app-menu>-->

<!--    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">-->
<!--      <h1>(ONLY USED FOR UI TESTING. NOT REPRESENTATIVE OF FINAL PRODUCT)</h1>-->
<!--      <h2>This is an html test using Bootstrap examples.</h2>-->
<!--      <div class="table-responsive">-->
<!--        <table class="table table-striped table-sm">-->
<!--          <app-test-chat></app-test-chat>-->
<!--        </table>-->
<!--      </div>-->
<!--    </main>-->
<!--  </div>-->
<!--</div>-->

<app-chatbox></app-chatbox>

