.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar-custom{
  /*  background-color: #0021A5;
    color:#FA4616; */
  background-color: #0021A5;
  color:#FFFFFF;
  /* box-shadow: 0 0 0.5em 0.1em #c3c3c333; */
}
