<h3>Account Information</h3>
<form [formGroup]="infoForm" (submit)="infoSubmit()">
  <div class="mb-3">
    <label>First Name</label>
    <input formControlName="firstName" class="form-control" name="firstName">
  </div>

  <div class="mb-3">
    <label>Last Name</label>
    <input formControlName="lastName" class="form-control" name="lastName">
  </div>

  <div class="mb-3">
    <label>Email</label>
    <input formControlName="email" class="form-control" name="email">
  </div>
  <button class="btn btn-outline-secondary">Save</button>
</form>

<h3 class="mt-4">Change Password</h3>
<form [formGroup]="passwordForm" (submit)="passwordSubmit()">
  <div class="mb-3">
    <label>Password</label>
    <input formControlName="password" type="password" class="form-control" name="password">
  </div>

  <div class="mb-3">
    <label>Password Confirm</label>
    <input formControlName="passwordConfirm" type="password" class="form-control" name="passwordConfirm">
  </div>

  <button class="btn btn-outline-secondary">Save</button>
</form>
