# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/Backend/backend/tmp
/Ga1ors.iml
/modules.xml
/vcs.xml